## Train {{ problem_type }} model
- Log relevant metrics to MLflow to track runs
- All the runs are logged under [this MLflow experiment]({{ experiment_url }})
- Change the model parameters and re-run the training cell to log a different trial to the MLflow experiment
- To view the full list of tunable hyperparameters, check the output of the cell below
