{# lightgbm_regressor.jinja prepares the cell for training model using LightGBM #}
{% extends 'regression/sklearn_base.jinja' %}
{% set model_name = 'lightgbm' %}
{% set model_documentation_url = 'https://lightgbm.readthedocs.io/en/stable/pythonapi/lightgbm.LGBMRegressor.html' %}
{% set use_eval_set = true %}


{% block model_definition %}
LGBMRegressor(**params)
{% endblock %}
